<nb-card>
  <div>
    <nb-card-header>
      Groups
    </nb-card-header>
    <nb-card-body>
      <ngx-group-category-codes (isSelectingCode)="handleIsSelectingCodeEvent($event)"></ngx-group-category-codes>
    </nb-card-body>
  </div>
</nb-card>


<nb-card>
  <div>
    <nb-card-header>
      {{ selectedSource }}
    </nb-card-header>
    <nb-card-body>
      <ngx-source-category-codes [source]=(selectedSource)
        [isSelectingCode]="isSelectingCode"></ngx-source-category-codes>
    </nb-card-body>
  </div>
</nb-card>

<nb-card>
  <ng-container *ngFor="let source of sources">
    <nb-card-header *ngIf="source.code !== selectedSource" style="cursor: pointer;"
      (click)="selectedSource = source.code">
      <div>
        {{source.code}}
      </div>
    </nb-card-header>
  </ng-container>
</nb-card>