<nb-card>
  <div>
    <nb-card-header>
      Groups
    </nb-card-header>
    <nb-card-body>
      <ngx-group-category-codes (selectedGroupCode)="handleSelectedGroupCodeEvent($event)"></ngx-group-category-codes>
    </nb-card-body>
  </div>
</nb-card>

<nb-accordion>
  <nb-accordion-item *ngFor="let source of sources">
    <nb-accordion-item-header>
      <div>
        {{ source.code }}
      </div>
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      <ngx-source-category-codes [source]=(source.code)
        [selectedGroupCode]="selectedGroupCode"></ngx-source-category-codes>
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>